.App {
  text-align: center;
  background-color: #282c34;
  height: 100vmin;
}

.App-header {
  width: 100%;
  height: 200px;
}

.background {
  background-image: url("../bowling-lanes.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.icons-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  animation: icon-spin infinite 5s linear;
  height: 20vmin;
  margin: 10px 40px;
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}