.player-control {
  font-size: 12px;
  margin: 8px;
  font-style: italic
}

.player-control:hover {
  cursor: pointer;
  text-decoration: underline;
}

.player-input-row {
  margin: 5px;
}

.player-number {
  display: inline-block;
  width: 80px;
}

.submit-players {
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  width: 160px;
  height: 24px;
  background-color: #61dafb;
  color: #282c34;
  font-size: 16px;
}

.submit-players:hover {
  cursor: pointer;
  background-color: #00b3ff;
}